// VARIABLES
$white: #fff;
$pink: #9D7C37;
$green: #00af73;
$blue: #00b8df;
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: #666666 !default; // #666666.container-fluid
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$white-dark: #fdfdfd;
$white-darker: #f1f1f1;
$white-medium: #fbfbfb;
$gray-blue: #545961;
$darkgreybg:#333;
$greybg:#5A5A5A;
$lightgreybg:#F0F0F0;
$whitebg:#fff;
$cyan-ctrl:#3EBDAD;
$gold-ctrl:#9D7C37;
$circular-section-bg: #c1b6ae;
$max-width: 1140px;
$mobile-min: 320px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1024px;
$desktop-sm-min: 1025px;
$desktop-sm-max: 1279px;
$desktop-md-min: 1280px;
$desktop-md-max: 1339px;
$desktop-lg-min: 1440px;
$desktop-lg-max: 1599px;
$desktop-xlg-min: 1600px;
$desktop-xlg-max: 1920px;