


/*Reusable Styles used as Varaibles*/

/*Brand color*/
$brand-color: #dc2e27;
$secion-background: #373737;

/*Colors*/
$white: #ffffff;

/*Display Properties */
$field-display-block: block;
$field-display-inline: inline;
$field-display-inline-block: inline-block;
$field-display-none: display-none;
$field-inline-block: inline-block;

/*Floating Properties*/
$field-float-left: left;
$field-float-right: right;
$field-float-none: none;

/*Vertical Alignment*/
$vertical-align-top: top;
$vertical-align-middle: middle;
$vertical-align-bottom: bottom;

/*Postion*/
$field-position-relative: relative;
$field-position-absolute: absolute;
$field-position-fixed: fixed;

/*Text Alignment*/
$field-text-left: left;
$field-text-center: center;
$field-text-right: right;

/* font size and lign */

$small-font-size: 12px;
$font-size-twentyfour: 24px;
$small-line-height: 15px;

$strong-margin-zero-zero-ten: 0 0 10px;

$margin-thirty-zero: 30px 0;
$padding-left-zero: 0;
$padding-right-zero: 0;
$padding-right-ten: 10px;
$padding-twenty: 20px;

$width-auto: auto;
$padding-twenty-zero-zero-ten: 20px 0 0 10px;

$vertical-align-top: top;
$text-align-left: left;
$imp: !important;

$padding-twenty: 20px;
$float-left: left;
$padding-twentyfive-zero-twentyfive: 25px 0 25px;